.content-block {
	width: 1200px;
	padding: 15px;
	display: grid;
	grid-template-areas:
    "A A"
    "B C";
}

.edit-block {
	padding: 15px;
	width: 600px;
}

.info {
	font-size: 12px;
}

p {
	margin-bottom: 2px;
	font-size: 15px;
}

.edit-btns {
	margin-top: 10px;
}

.card-edit {
	margin-right: 10px;
}

input[value] {
	font-size: 15px;
}

.form-control {
	width: 80%;
}

.btn-danger {
	float: right;
}

.h-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.date-item {
	margin-right: 10px;
}

.header {
	grid-area: A;
}

.accordion {
	grid-area: B;
	width: 700px;
}

.card {
	grid-area: C;
	width: 350px;
	align-self: start;
}

.card-create {
	margin: 15px;
}